/*Arquivo de estilização*/

/*Definindo, inicialmente, magem do body, fundo de cor, fontes, cores. Ou seja, estilizando as 
fontes, letras, espaços de texto, botões, títulos... coisas visuais básicas*/
body
{
    margin: 20px;
    background-color: #E6E6FA;
}

h1, h3, h4, h5, .botao
{
    font-family: 'Press Start 2P', sans-serif;
    color: #473C8B;
}

p, li, label, input
{
    font-family: 'Share Tech Mono', sans-serif;
    color: #363636;
}

input
{
    background-color: #E8E8E8;
    padding: 5px;
    border: 3px, solid, #1C1C1C;
    border-radius: 5px;
}

.botao
{
    background-color: #E8E8E8;
    padding: 5px;
    border: 3px, solid, #1C1C1C;
    border-radius: 5px;
}

li::marker
{
    padding: 4px;
    color: #1C1C1C;
}

a
{
    color: #473C8B;
}

/*alhinhando os títulos, parágrafos, listas e botões:*/

header, footer, .tela_inicio, .tela_final
{
    text-align: center;
}

.paragrafo
{
    text-align: justify;
    line-height: 22px; /*espaçamento entre as linhas*/
    text-indent: 15px; /*identação de início de parágrafos*/
}

.lista
{
    text-align: left;
    line-height: 22px;
}

#lista_desempenho
{
    display: flex;
    flex-direction: column;
    align-items: center ;
    text-align: center;
}

/*Definindo as torres, de fato -os pinos e os discos*/


















